@use './colors' as *;
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	font-size: 62.5%;
}
body {
	font-family: 'Overpass', sans-serif;
	background-color: $very-dark-blue;
	color: $white;
	font-size: 1.5rem;
}
main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.circle {
	background-color: $circle;
	border-radius: 50%;
}
.rating__box {
	width: 340px;
	height: 340px;
	background-color: $dark-blue;
	border-radius: 18px;
	padding: 1.6em;
	&-star {
		padding: 0.7em;
	}
	&-title {
		font-weight: 700;
		margin-bottom: 0.5em;
		margin-top: 0.5em;
	}
	&-text {
		font-weight: 300;
		color: $medium-grey;
        line-height: 1.3em;
        font-size: 1.3rem;
	}
	&-rates-wrap {
		display: flex;
		justify-content: space-between;
		margin-top: 1em;
		.rate {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 40px;
			width: 40px;
			color: $medium-grey;
			cursor: pointer;
			transition: background-color 0.3s, color 0.3s;
			&:hover {
				background-color: $orange;
                color: $white;
			}
			&:focus {
				background-color: $light-grey;
                color: $white;
			}
		}
	}
	&-btn {
		margin-top: 1.6em;
		width: 100%;
		height: 40px;
		border-radius: 50px;
		outline: none;
		border: none;
		background-color: $orange;
		color: $white;
		text-transform: uppercase;
        font-weight: 700;
		letter-spacing: 2px;
		cursor: pointer;
		transition: background-color 0.3s, color 0.3s;
		&:hover {
			background-color: $white;
			color: $orange;
		}
	}
}
